@model Lanche

<div class="col-sm-4 col-md-4 col-lg-4" style="border:1px solid #ccc;">
    <p><img src="@Model.ImagemUrl" class="img-fluid" style="height:150px;" /></p>
    <h3>@Model.Nome</h3>
    <h4>Preço: @Model.Preco.ToString("c")</h4>
    <p>@Model.DescricaoCurta</p>
</div>